= semantic_form_for @style, :url => @style.new_record? ? admin_styles_path : admin_style_path(@style) do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :origin
    = f.input :resource_url
    = f.input :ingredients, :as => :check_boxes, :collection => Ingredient.all
  = f.buttons do
    = f.button :submit