%br
%br
%nav#admin-nav.float-left
  %p(style = 'line-height:0px;') ADMIN MENU
  %ul
    %li
      = link_to 'Beers', admin_beers_path
    %li
      = link_to 'Breweries', admin_breweries_path
    %li
      = link_to 'Bars', admin_bars_path
    %li
      = link_to 'Styles', admin_styles_path
    %li
      = link_to 'Ingredients', admin_ingredients_path