= semantic_form_for @beer, :url => @beer.new_record? ? admin_beers_path : admin_beer_path(@beer) do |f|
  = f.inputs do
    = f.input :name
    = f.input :brewery, :collection => Brewery.all
    = f.input :style, :collection => Style.all
    = f.input :bars, :collection => Bar.all
    = f.input :ingredients, :as => :check_boxes, :collection => Ingredient.all
    = f.input :abv
    = f.input :description
    = f.input :ba_url
    = f.input :rb_url
    = f.input :beer_url
    = f.input :image_url
  = f.buttons do
    = f.button :submit
  