= link_to image_tag('logo-sm.png'), root_path, :class => 'float-left'
%h3.logo.float-left 
  = link_to 'Best Beer Here', root_path

%nav#main-nav.float-right
  %ul
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Beers', root_path
    %li
      = link_to 'Breweries', root_path
    %li
      = link_to 'Bars', root_path
    %li
      = link_to 'Neighborhoods', root_path
    %li
      = link_to 'Beer-o-pedia', root_path
    
    
      
.clearfix