%article.style.show-page
  
  %h3= @style.name

  %h4= "Origin: #{@style.origin}"
 
  %p.wide-body.float-left
    = @style.description
    %br
    %br
    = link_to 'Source >>', @style.resource_url
    
  %h3= "#{@style.name} Beers"
  %ul
    - @style.beers.each do |beer|
      %li
        - if @admin
          = link_to beer.name, admin_beer_path(beer)
        - else
          = link_to beer.name, beer_path