<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestBeerHere</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "http://maps.google.com/maps?file=api&v=2&key=AIzaSyCSfIjcvpdXmPIou6YBhvrePoXLcsXpxBY&sensor=true" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body onload="initialize()" onunload="GUnload()">
    <div id="container" class="container">
      <header>
        <%= render 'layouts/header' %>
        <!-- render 'layouts/messages' -->
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>      
      <aside class='sidebar' id="left-sidebar">
        <% if @admin %>
          <%= render :partial => 'admin/admin_nav' %>
        <% end %>
      </aside>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <aside class="sidebar float-right" id="right-sidbar">
        <% if (not @home) && (not @admin) %>
          <%= render :partial => 'layouts/twitter' %>
        <% end %>
      </aside>  
      <footer>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>